[submodule ".config/awesome/freedesktop"]
	path = .config/awesome/freedesktop
	url = https://github.com/lcpz/awesome-freedesktop.git
[submodule ".config/awesome/lain"]
	path = .config/awesome/lain
	url = https://github.com/lcpz/lain.git
[submodule ".config/awesome/scratch"]
	path = .config/awesome/scratch
	url = https://github.com/proteansec/awesome-scratch.git
[submodule ".config/awesome/vicious"]
	path = .config/awesome/vicious
	url = https://github.com/vicious-widgets/vicious.git
[submodule "suckless/dwm"]
	path = suckless/dwm
	url = https://github.com/sr/dwm.git
[submodule ".config/awesome/calendar"]
	path = .config/awesome/calendar
	url = https://github.com/deficient/calendar.git
