Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

*.foreground:   #DCDCCC
*.background:   #3F3F3F
*.cursorColor:  #BFBFBF

! black
*.color0:       #3F3F3F
*.color8:       #7F7F7F

! red
*.color1:       #CC9393
*.color9:       #9C6363

! green
*.color2:       #7F9F7F
*.color10:      #5F7F5F

! yellow
*.color3:       #F0DFAF
*.color11:      #D0BF8F

! blue
*.color4:       #8CD0D3
*.color12:      #94BFF3

! magenta
*.color5:       #DC8CC3
*.color13:      #CB7BB2

! cyan
*.color6:       #93E0E3
*.color14:      #82CFD2

! white
*.color7:       #DCDCCC
*.color15:      #FFFFEF

!Xcursor.theme: xcursor-breeze
!Xcursor.size:                     0

st.font: Sarasa Term SC:pixelsize=16:antialias=true:autohint=true,方正宋刻本秀楷:pixelsize=16:antialias=true:autohint=true,FontAwesome:pixelsize=16:antialias=true:autohint=true
st.alpha: 240
