Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

XTerm*background: #2b2b2b
XTerm*foreground: #e7e7e7
XTerm*pointerColor: #16A085
XTerm*faceName: Fixed
XTerm*faceSize: 11

*.foreground:   #cdcdcd
*.background:   #121317
*.cursorColor:  #cdcdcd

! black
*.color0:       #282a2e
*.color8:       #373b41

! red
*.color1:       #922230
*.color9:       #923a45

! green
*.color2:       #0f8c61
*.color10:      #198873

! yellow
*.color3:       #ba883d
*.color11:      #ba9153

! blue
*.color4:       #277896
*.color12:      #3c7e96

! magenta
*.color5:       #4b4574
*.color13:      #53569b

! cyan
*.color6:       #638b83
*.color14:      #7dbfb8

! white
*.color7:       #cdcdcd
*.color15:      #cdcdcd

Xcursor.theme: xcursor-breeze
Xcursor.size:                     0

!XTerm*background:                 #272827
!XTerm*foreground:                 #fdf6e3
XTerm*reverseVideo:               on
!XTerm*faceName:                   Terminus:size=11:antialias=true
XTerm*selectToClipboard:          true

URxvt.font:                        xft:SauceCodePro\ Nerd\ Font:size=13,xft:Yahei\ Mono:size=13,xft:rpg\-awesome:size=14,xft:FontAwesome:size=13

URxvt.depth:                      32
URxvt.background:                 [80]#000000
URxvt*scrollBar:                  false
URxvt*mouseWheelScrollPage:       false
URxvt*cursorBlink:                true
URxvt*background:                 black
URxvt*foreground:                 grey
URxvt*saveLines:                  5000

! Keyboard select
URxvt.perl-ext-common:      default,clipboard,url-select,keyboard-select
URxvt.url-select.launcher:  chromium
URxvt.url-select.underline: true
URxvt.keysym.M-u:           perl:url-select:select_next
URxvt.keysym.M-Escape:      perl:keyboard-select:activate
URxvt.keysym.M-s:           perl:keyboard-select:search