Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

XTerm*background: #2b2b2b
XTerm*foreground: #e7e7e7
XTerm*pointerColor: #16A085
XTerm*faceName: Fixed
XTerm*faceSize: 11

*.foreground:   #cdcdcd
*.background:   #121317
*.cursorColor:  #cdcdcd

! black
*.color0:       #282a2e
*.color8:       #373b41

! red
*.color1:       #922230
*.color9:       #923a45

! green
*.color2:       #0f8c61
*.color10:      #198873

! yellow
*.color3:       #ba883d
*.color11:      #ba9153

! blue
*.color4:       #277896
*.color12:      #3c7e96

! magenta
*.color5:       #4b4574
*.color13:      #53569b

! cyan
*.color6:       #638b83
*.color14:      #7dbfb8

! white
*.color7:       #cdcdcd
*.color15:      #cdcdcd

!Xcursor.theme: xcursor-breeze
!Xcursor.size:                     0

XTerm*reverseVideo:               on
XTerm*selectToClipboard:          true

#define font1         Inconsolata LGC
#define font2         Inconsolata Nerd Font
#define font3         Symbola
#define font4         Noto Color Emoji

URxvt*letterSpace: 0
URxvt*font:           xft:font1:pixelsize=16, xft:font2:pixelsize=14:minspace=false, xft:font3:pixelsize=14,xft:font4:pixelsize=14
URxvt*boldFont:       xft:font1:bold:pixelsize=16, xft:font2:pixelsize=14:minspace=False,xft:font3:pixelsize=14,xft:font4:pixelsize=14
URxvt*italicFont:     xft:font1:italic:pixelsize=16, xft:font2:pixelsize=14:minspace=False,xft:font3:pixelsize=14,xft:font4:pixelsize=14
URxvt*boldItalicFont: xft:font1:bold:italic:pixelsize=16, xft:font2:pixelsize=14:minspace=False, xft:font3:pixelsize=14, xft:font4:pixelsize=14

URxvt.depth:                      32
URxvt.background:                 [80]#000000
URxvt*scrollBar:                  false
URxvt*mouseWheelScrollPage:       false
URxvt*cursorBlink:                true
URxvt*background:                 black
URxvt*foreground:                 grey
URxvt*saveLines:                  5000

! Keyboard select
URxvt.perl-ext-common:      default,clipboard,url-select,keyboard-select
URxvt.url-select.launcher:  google-chrome-stable
URxvt.url-select.underline: true
URxvt.keysym.M-u:           perl:url-select:select_next
URxvt.keysym.M-Escape:      perl:keyboard-select:activate
URxvt.keysym.M-s:           perl:keyboard-select:search